<!DOCTYPE html>
<html>
<head>
	<title>templete</title>
</head>
<body>
<h1>Wellcome to the text analyzer.Enter Your text Bellow 
</h1>
<form action="/analyze/" method="get">
	<textarea name="text" style='width: 724px; height: 91px;'></textarea><br>
	<input type="checkbox" name="removepunc"> Remove Punctions 
	<input type="checkbox" name="fullcaps"> Upper Case  
	<input type="checkbox" name="newlineremover"> New line remover	 
	<input type="checkbox" name="charcount"> Count no of cherecter	 
	<input type="checkbox" name="extraspaceremo"> Extra Space Remover<br>
	<button type="subbmit">Analize Text</button>


</form>
<H2>Naat Rasool Maqbool</H2>
<p>  
Adam sa lai ha hasti ma arzoo e rasool 
kahan kahan lia firti ha justajoo e rasool 
balayan loon tari ajazba shook salla ala 
ki aj daman e dil khinch raha ha soo e rasool 
shagufta gulshan e zahra ka har gula e tar ha 
kisi ma rang e ali ha kisi ma boo e rasool 
ajab tamasha ho medan e hashr ma badam 
ki sab ho pash khuda aur ma ro baroo e rasool
</p>
<h3>kalam e Hazrat Badam shah warsi </h3>

</body>
</html>
